.text-area {
    -fx-background-color: #393b40;
    -fx-background-radius: 16;
    -fx-border-radius: 16;
    -fx-prompt-text-fill: #8696a0;
    -fx-text-fill: #d1d7db;

}


.text-area .scroll-pane {
    -fx-background-color: transparent;
}

.text-area .scroll-pane .viewport {
    -fx-background-color: transparent;
}

.text-area .scroll-pane .content {
    -fx-background-color: transparent;
}

.scroll-pane {
    -fx-background-color: transparent;
}

.scroll-pane .viewport {
    -fx-background-color: transparent;
}

.scroll-bar:vertical {
    -fx-background-color: transparent;
}

.scroll-bar .thumb {
    -fx-background-color: #a9a9a9;
}

.scroll-bar .increment-button,
.scroll-bar .decrement-button {
    -fx-background-color: transparent;
}


.label {
    -fx-text-fill: #d1d7db;
}

.root {
    -fx-background-color: #1e1f22;
}